[submodule "salt/roots/formulas/podman-formula"]
	path = salt/roots/formulas/podman-formula
	url = https://github.com/extra2000/podman-formula.git
[submodule "salt/roots/formulas/misp-formula"]
	path = salt/roots/formulas/misp-formula
	url = https://github.com/extra2000/misp-formula.git
